:root {
  --main-font: "Roboto", sans-serif;
  --additional-font: "Raleway", sans-serif;
  --accent-color: #2196f3;
  --accent-color-title: #212121;
  --accent-color-desc: #757575;
  --accent-color-text: #ffffff;
  --accent-color-back: #2f303a;
  --accent-color-cont: rgba(255, 255, 255, 0.6);
  --accent-color-logo: #000000;
  --accent-color-team: #f5f4fa;
  --accent-color-port: #eeeeee;
  --btn-hover: #188ce8;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.body {
  font-family: var(--main-font);
  color: var(--accent-color-title);
}

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* ============ HEADER ============ */

.header {
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
}

.menu {
  display: flex;
  align-items: center;

  padding: 32px 0 32px 0;
}

.menu-item:not(:last-child) {
  margin-right: 50px;
}

.logo {
  margin-right: 95px;
  padding: 25px 0 25px 0;

  font-family: var(--additional-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo-black {
  color: var(--accent-color-logo);
}

.menu-link.current {
  color: var(--accent-color);
}

.menu-link {
  font-family: var(--additional-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--accent-color-title);
}

.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}

.mail-link {
  margin-left: auto;
  margin-right: 50px;
  padding-top: 32px;
  padding-bottom: 32px;

  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--accent-color-desc);
}

.mail-link:hover,
.mail-link:focus {
  color: var(--accent-color);
}

.tel-link {
  padding-top: 32px;
  padding-bottom: 32px;

  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--accent-color-desc);
}

.tel-link:hover,
.tel-link:focus {
  color: var(--accent-color);
}

/* ============ SERVICE ============ */

.hero {
  padding: 200px 0 200px 0;
  text-align: center;

  background-color: var(--accent-color-back);
}

.main-title {
  width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--accent-color-text);
}

.modal-btn {
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;

  cursor: pointer;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border-radius: 4px;

  color: var(--accent-color-text);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.main-title {
  font-family: var(--main-font);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--accent-color-text);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--btn-hover);
}

/* ============ SERVICE ============ */

.skills-menu {
  display: flex;
  justify-content: space-between;
}

.skills-item {
  width: 270px;
}

.skills-title {
  padding-bottom: 10px;

  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-color-title);
}

.skills-text {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--accent-color-desc);
}

/* ============ ABOUT ============ */

.about-section {
  padding-bottom: 94px;
}

.about-menu {
  display: flex;
  justify-content: space-between;
}

.about-title {
  margin-bottom: 50px;

  text-align: center;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--accent-color-title);
}

/* ============ TEAM ============ */

.team-section {
  background-color: var(--accent-color-team);
}

.team-menu {
  display: flex;
  justify-content: space-between;
}

.team-list {
  background: var(--accent-color-text);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-title {
  margin-bottom: 50px;

  text-align: center;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--accent-color-title);
}

.team-desc {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-name {
  text-align: center;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color-title);
}

.team-prof {
  text-align: center;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color-desc);
}

/* ============ FOOTER ============ */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--accent-color-back);
}

.footer-adress {
  margin-top: 20px;
}

.logo-white {
  font-family: var(--additional-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color-text);
}

.location {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--accent-color-text);
}

.footer-mail {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--accent-color-cont);
}

.footer-mail:hover,
.footer-mail:focus {
  color: var(--accent-color-text);
}

.footer-tel {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--accent-color-cont);
}

.footer-tel :hover,
.footer-tel :focus {
  color: var(--accent-color-text);
}

/* ============ BUTTONS ============ */

.port-section {
}

.btn-menu {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.btn-item:not(:last-child) {
  margin-right: 8px;
}

.btn-list {
  padding: 6px 22px;

  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border: none;
  border-radius: 4px;
  color: var(--accent-color-title);
  background-color: var(--accent-color-team);
}

.btn-list.current {
  color: var(--accent-color-text);
  background-color: var(--accent-color);
}

.btn-list:hover,
.btn-list:focus {
  color: var(--accent-color-text);
  background-color: var(--accent-color);
}

/* ============ PICTURES LIST ============ */

.port-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

.portfolio-item {
  display: block;
  margin-left: 30px;
  margin-bottom: 30px;

  background: var(--accent-color-text);
}

.port-item-desc {
  border: 1px solid var(--accent-color-port);
  padding-left: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.port-title {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--accent-color-title);
}

.port-text {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--accent-color-desc);
}
